.card {
    height: 215px;
    color: #fff;
    border-radius: 7px;
    font-family: 'Roboto';
}



.marketCard {
    margin: 5px;
    padding: 5px;
    border: 1px solid #000;
    font-family: 'Roboto';
    background-color: #545556;
}

.hovers{
    cursor: pointer;
}

.marketTitle{
    padding: 0px 0px 0px 20px;
    color: #fff;
}

.marketScore{
    padding: 10px 10px;
    background-color: #545556;
    color: white;
}

.marketButton{
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #6d6d6d;
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
}

.marketButton:hover{
    background-color: #ccc;
}

.marketButton:active{
    background-color: white;
    color: #6d6d6d;
}